.search-wrapper{
    padding: 40px 200px;
}

.search-line{
    width: 100%;
}

.search-line__title{
    font-size: 28px;
    line-height: 40px;
}

.search__input{
   width: 100%;
    padding-bottom: 40px;
}

.search-query{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}

.search-query__text{
    font-weight: 500;
}

.search-icon{
    display: flex;
}

.search-result{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-icon__item{
    margin-left: 10px;
}

.search-result__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.search-result__img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.search-result__title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.search-result__channel{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-result__view {

}